body {
  font-family: 'Helvetica';
  letter-spacing:-5px;
  background:#aaa;
  background-size:100%;
  color:#FFCC00;
  margin:0;
  padding:0;
  font-weight:bold;
}

h1, h2, h3, p {
  margin:0;
}

strong, em, a {
  font-style:normal;
  color:#368A52;
}

strong {
  color: #E87C19;
}

a {
  background: #FFCC00;
  color:#555;
  text-decoration:none;
}

img {
  width:100%;
}

div {
  cursor:pointer;
  cursor:hand;
  position:absolute;
  top:0px;
  left:0px;
  padding:75px;
  line-height:97%;
}

div.center {
  text-align:center;
}

div.imageText {
  text-shadow:0px 0px 5px rgba(0,0,0,0.2);
}
